---
import GitHub from "../icons/IconGitHub.astro"
//import NextJS from "../badge/BadgeNextJS.astro"
//import Tailwind from "../badge/BadgeTailwind.astro"
//import Python from "../badge/BadgePython.astro"
import Link from "../icons/IconLink.astro"
import LinkButton from "../LinkButton.astro"
import Postfit from "../Postfit.astro"

const PROJECTS = [
  {
    title: "Mega Conversor OC",
    description:
      "👾 Automatización de muchas conversiones y operaciones en la materia “Organización de computadoras”. Usando JavaScript, Html y Css",
    link: "https://fabian-martinez-rincon.github.io/Mega-Conversor-OC/",
    github: "https://github.com/Fabian-Martinez-Rincon/Mega-Conversor-OC",
    image: "/projects/conversor.webp",
    tags: [],
  },
  {
    title: "Ei-Materias",
    description:
      "✏️ Readme con apuntes, prácticas y códigos relacionados a la UNLP informática.",
    link: "https://fabian-martinez-rincon.github.io/EI-Materias/",
    github: "https://github.com/MITH-arg/EI-Materias",
    image: "/projects/eimaterias.webp",
    tags: [],
  },
  {
    title: "Emuti | Gaming Labs Sudamerica",
    description:
      "Procesamiento de datos en Excel para su mismo ingreso de forma automática, usando Python, junto con sus respectivas librerías. Junto con un amplio manejo de excepciones en el programa.",
    github: "https://github.com/Fabian-Martinez-Rincon/EmuTi",
    image: "/projects/emuti.webp",
    tags: [],
  },
  {
    title: "Linktree",
    description:
      "El Linktree de instagram, que es basicamente un conjunto de links",
    link: "https://github.com/Fabian-Martinez-Rincon/Linktree",
    github: "https://linktree-fabian.vercel.app/",
    image: "./allProjecs/linktree.webp",
    tags: [],
  },
  {
    title: "Nomadiix",
    description:
      "Antes de empezar en una empresa, se me ocurrio crear la mia propia para tener mas experiencia y de paso queda para mi portfolio",
    link: "https://nomadiix-website.vercel.app/",
    github: "https://github.com/Fabian-Martinez-Rincon/Nomadiix-Website",
    image: "./allProjecs/nomadiix.webp",
    tags: [],
  },
  {
    title: "Space Apps 2022",
    description:
      "Nos pudimos distribuir las tareas a corde a pesar de que eramos pocas personas en el grupo, pudimos exponer nuestro proyecto al final de tod y fue un buen fin de semana.",
    link: "https://cuestion-de-espacio.github.io/Frontend/",
    github: "https://github.com/Cuestion-de-Espacio",
    image: "./allProjecs/spaceApps.webp",
    tags: [],
  },
  {
    title: "Old Portfolio",
    description:
      "Fue de mis primeros proyectos, es por eso que dentro cuenta con proyectos viejos ya que no lo fui actualizando para tenerlo como recuerdo.",
    link: "https://fabian-martinez-rincon.github.io/Old_Portfolio/",
    github: "https://github.com/Fabian-Martinez-Rincon/Old_Portfolio",
    image: "./allProjecs/oldPortfolio.webp",
    tags: [],
  },
  {
    title: "Eficiencia X",
    description:
      "Mientras cursaba la materias CADP me di cuenta de que podia automatizar una practica que me daba fiaca calcular a mano e hice una pequeña web en la que pones el codigo y te calcula la memoria fisica.",
    link: "https://fabian-martinez-rincon.github.io/Efficiency_X/",
    github: "https://github.com/Fabian-Martinez-Rincon/Efficiency_X",
    image: "./allProjecs/eficiencia_x.webp",
    tags: [],
  },
  {
    title: "Fablog",
    description:
      "Fablog es como su nombre indica, un blog tanto personal como educativo, me gusta subir información o explicar conocimientos para tener una fuente demostrable.",
    link: "https://fablogg.vercel.app/",
    github: "https://github.com/Fabian-Martinez-Rincon/Fablog",
    image: "./allProjecs/fablog.webp",
    tags: [],
  },
  {
    title: "Gallerix",
    description:
      "Queria tener un espacio para mostrar los logos que fui haciendo",
    github: "https://github.com/Fabian-Martinez-Rincon/Galleriix-Frontend",
    image: "./allProjecs/gallerix.webp",
    tags: [],
  },
  
  {
    title: "Keypad | Aduino",
    description:
      "Este informe mostrará y describirá todo lo realizado por el alumno Fabián Martínez Rincón de la Escuela Técnica Albert Thomas número 6, en el sector Arduino. ",
    link: "https://fabian-martinez-rincon.github.io/Keypad/",
    github: "https://github.com/Fabian-Martinez-Rincon/Keypad",
    image: "./allProjecs/keypad.webp",
    tags: [],
  },
  {
    title: "Lock | Aduino",
    description:
      "En este informe veremos tanto la simulación del circuito como la programación real de una caja fuerte.",
    link: "https://fabian-martinez-rincon.github.io/Lock/",
    github: "https://github.com/Fabian-Martinez-Rincon/Lock",
    image: "./allProjecs/lock.webp",
    tags: [],
  }
]
---

<div class="flex flex-col gap-y-16 pt-10">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 rounded-xl lg:border ">
      <img alt="" class="object-cover object-top w-full h-56  md:scale-110 border-4 border-black" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl  text-blue-400 text-center mx-auto">
      <span>
        {title}
      </span>
      
    </h3>
    <div class="flex flex-wrap mt-2">
      <Postfit description={description} color=""/>
      
      <footer class="flex items-end justify-start center  mt-2 gap-x-4 mx-auto">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6 flex " />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-6 flex" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
