---
import 'photoswipe/style.css';
import { Image } from 'astro:assets'

const GALLERY = [
  {
    src: '/images/1.webp',
    width: 1501,
    height: 1126,
  },
  {
    src: '/images/2.webp',
    width: 1904,
    height: 1269,
  },
  {
    src: '/images/3.webp',
    width: 1080,
    height: 810,
  },
  {
    src: '/images/4.webp',
    width: 1434,
    height: 1843,
  },
  {
    src: '/images/5.webp',
    width: 1280,
    height: 1706,
  },
  {
    src: '/images/6.webp',
    width: 960,
    height: 1280,
  },
  {
    src: '/images/7.webp',
    width: 2000,
    height: 1333,
  },
  {
    src: '/images/8.webp',
    width: 921,
    height: 1024,
  },
  {
    src: '/images/10.webp',
    width: 1600,
    height: 899,
  },
];

---

<style>
  .image-hover {
    filter: brightness(80%);
  }
  .image-hover:hover {
    filter: brightness(100%);
  }
</style>

<section class="max-w-screen-lg mx-auto pb-12" id="gallery">
    <ul
      class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-3 text-white"
    >
      {GALLERY.map((image) => (
        <li class="">
          <a
            href={image.src}
            target="_blank"
            class="relative top-0 block overflow-hidden rounded-2xl"
            data-pswp-width={image.width}
            data-pswp-height={image.height}
          >
            <figure>
              <Image
                alt={image.src}
                src={image.src}
                class="h-44 w-full object-cover image-hover border-8 border-black"
                width={309}
                height={176}
                decoding="async"
                loading="lazy"
              />
            </figure>
          </a>
        </li>
      ))}

    </ul>
  </section>


<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>
















