---


const REPOS = [{
        "primero": [{
            nombre: "CADP",
            url: "https://github.com/Fabo-University/CADP",
            organizacion: "Fabo-University"
        },{
            nombre: "Taller-de-Programacion",
            url: "https://github.com/Fabo-University/Taller-de-Programacion",
            organizacion: "Fabo-University"
        },{
            nombre: "Arquitectura-de-Computadoras",
            url: "https://github.com/Fabo-University/Arquitectura-de-Computadoras",
            organizacion: "Fabo-University"
        },{ 
            nombre: "Organizacion_de_Computadoras",
            url: "https://github.com/Fabo-University/Organizacion_de_Computadoras",
            organizacion: "Fabo-University"
        },
        {
            nombre: "EPA",
            url: "https://github.com/Fabo-University/EPA",
            organizacion: "Fabo-University"
        },
    ]},{
        "segundo": [{
            nombre: "Orientacion-a-Objetos1",
            url: "https://github.com/Fabo-University/Orientacion-a-Objetos1",
            organizacion: "Fabo-University"
        },{
            nombre: "AyED",
            url: "https://github.com/Fabo-University/AyED",
            organizacion: "Fabo-University"
        },{
            nombre: "FOD",
            url: "https://github.com/Fabo-University/FOD",
            organizacion: "Fabo-University"
        },{
            nombre: "Seminario-de-Lenguajes-Python",
            url: "https://github.com/Fabo-University/Seminario-de-Lenguajes-Python",
            organizacion: "Fabo-University"
        },
        {
            nombre: "ISO",
            url: "https://github.com/Fabo-University/ISO",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Ingenieria-de-Software1",
            url: "https://github.com/Fabo-University/Ingenieria-de-Software1",
            organizacion: "Fabo-University"
        },{
            nombre: "DBD",
            url: "https://github.com/Fabo-University/DBD",
            organizacion: "Fabo-University"
        }]
    },
    {
        "tercero": [
        {
        nombre: "Programacion-Concurrente",
        url: "https://github.com/Fabo-University/Programacion-Concurrente",
        organizacion: "Fabo-University"
        },
        {
            nombre: "Redes-y-Comunicaciones",
            url: "https://github.com/Fabo-University/Redes-y-Comunicaciones",
            organizacion: "Fabo-University"
        },
        {
            nombre: "CPLP",
            url: "https://github.com/Fabo-University/CPLP",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Proyecto-de-Software",
            url: "https://github.com/Fabo-University/Proyecto-de-Software",
            organizacion: "Fabo-University"
        },
        {
            nombre: "Ingenieria-de-Software-2",
            url: "https://github.com/Fabian-Martinez-Rincon/Ingenieria-de-Software-2",
            organizacion: "Fabian-Martinez-Rincon"
        },
        {
            nombre: "Orientacion-a-Objetos-2",
            url: "https://github.com/Fabian-Martinez-Rincon/Orientacion-a-Objetos-2",
            organizacion: "Fabian-Martinez-Rincon"
        },{
            nombre: "CyC",
            url: "https://github.com/Fabo-University/CyC",
            organizacion: "Fabo-University"
        }

    ]
    }
]



const COLORS = [
    "text-green-500",
    "text-blue-500",
    "text-yellow-500"
]

const COLORS_TARGET = [
    "BBF7D0",
    "BFDBFE",
    "F3E6A7",
]

function getRandomColor() {
    const colors = Object.values(COLORS_TARGET);
    return colors[Math.floor(Math.random() * colors.length)];
}

---



<section class=" max-w-screen-lg mx-auto pb-12">
    {REPOS.map((repo, i) => (
        Object.entries(repo).map(([key, value]) => (
            <h2
            class= {`flex items-center mb-6 mt-6 text-2xl font-bold gap-x-1 ${(COLORS[i])} justify-center`}
            >
           Materias de {key}
            </h2>
            <ul
            class="mx-auto grid grid-cols-1 gap-x-2 gap-y-2 lg:mx-0 lg:max-w lg:grid-cols-3 text-white md:gap-4 md:grid-cols-2"
            >
            {value.map((r:any) => (
                <li class="">
                    <a href={r.url} target="_blank">
                        <img
                        class="border-4 border-black w-full h-auto transform transition-all duration-300 ease-in-out hover:-translate-y-2 "
                        src={`https://denvercoder1-github-readme-stats.vercel.app/api/pin/?username=${r.organizacion}&repo=${r.nombre}&bg_color=${getRandomColor()}&title_color=000000&icon_color=000000&hide_border=true&show_icons=false&text_color=000000&show_description=false`}
                        alt="readme-typing-svg"
                        />
                    </a>
                </li>    
            ))}
            </ul>
        ))
      
    ))}


</section>

  











