---
import GitHub from "../icons/IconGitHub.astro"
//import NextJS from "../badge/BadgeNextJS.astro"
//import Tailwind from "../badge/BadgeTailwind.astro"
//import Python from "../badge/BadgePython.astro"
import Link from "../icons/IconLink.astro"
import LinkButton from "../LinkButton.astro"
import Postfit from "../Postfit.astro"

const PROJECTS = [
  {
    title: "ACL-Manager",
    description:
      "Proyecto para poder gestionar ACLs (Access Control List) en un entorno Linux, al tener muchos comandos repetidos basados en un excel se me ocurrio que seria mas comodo poder formater los comandos.",
    link: "https://private-user-images.githubusercontent.com/55964635/294957942-a1616a21-17e3-4d70-b54b-98c90eedbc7a.mp4?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDc3Njk4MzYsIm5iZiI6MTcwNzc2OTUzNiwicGF0aCI6Ii81NTk2NDYzNS8yOTQ5NTc5NDItYTE2MTZhMjEtMTdlMy00ZDcwLWI1NGItOThjOTBlZWRiYzdhLm1wND9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMTIlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjEyVDIwMjUzNlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTY4MDY1OGU0NjQ4ZjUyMzI3M2EyNzMwMDk0MTNiNGM3ZDg5YWM4YmQ3OTA4YzM4N2I1YmE2NWE3Y2NhNjczNjUmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.-3KrsMb2rhGGBs9jbJN4oAVieqJb9uFuOK7kUP4QCeU",
    github: "https://github.com/Fabian-Martinez-Rincon/acl-manager",
    image: "https://github.com/Fabian-Martinez-Rincon/Fabian-Martinez-Rincon/assets/55964635/458de326-e297-4d31-b596-c7c29a04cb0a",
    tags: [],
  },
  {
    title: "Emuti | Gaming Labs Sudamerica",
    description:
      "Procesamiento de datos en Excel para su mismo ingreso de forma automática, usando Python, junto con sus respectivas librerías y un amplio manejo de excepciones.",
    link: "https://private-user-images.githubusercontent.com/55964635/294957942-a1616a21-17e3-4d70-b54b-98c90eedbc7a.mp4?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDc3Njk4MzYsIm5iZiI6MTcwNzc2OTUzNiwicGF0aCI6Ii81NTk2NDYzNS8yOTQ5NTc5NDItYTE2MTZhMjEtMTdlMy00ZDcwLWI1NGItOThjOTBlZWRiYzdhLm1wND9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMTIlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjEyVDIwMjUzNlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTY4MDY1OGU0NjQ4ZjUyMzI3M2EyNzMwMDk0MTNiNGM3ZDg5YWM4YmQ3OTA4YzM4N2I1YmE2NWE3Y2NhNjczNjUmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.-3KrsMb2rhGGBs9jbJN4oAVieqJb9uFuOK7kUP4QCeU",
    github: "https://github.com/Fabian-Martinez-Rincon/EmuTi",
    image: "https://github.com/Fabian-Martinez-Rincon/Fabian-Martinez-Rincon/assets/55964635/6467ee19-9d81-4b26-9907-72a4ad206e5d",
    tags: [],
   },
   {
    title: "Modify SQL",
    description:
      "Genera un excel a modo de reporte para comparar dos base de datos exportadas. Lo que permite un vistazo rápido de las diferencias entre ambas bases de datos.",
    link: "https://private-user-images.githubusercontent.com/55964635/294957942-a1616a21-17e3-4d70-b54b-98c90eedbc7a.mp4?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDc3Njk4MzYsIm5iZiI6MTcwNzc2OTUzNiwicGF0aCI6Ii81NTk2NDYzNS8yOTQ5NTc5NDItYTE2MTZhMjEtMTdlMy00ZDcwLWI1NGItOThjOTBlZWRiYzdhLm1wND9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMTIlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjEyVDIwMjUzNlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTY4MDY1OGU0NjQ4ZjUyMzI3M2EyNzMwMDk0MTNiNGM3ZDg5YWM4YmQ3OTA4YzM4N2I1YmE2NWE3Y2NhNjczNjUmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.-3KrsMb2rhGGBs9jbJN4oAVieqJb9uFuOK7kUP4QCeU",
    github: "https://github.com/Fabian-Martinez-Rincon/EmuTi",
    image: "https://github.com/Fabian-Martinez-Rincon/modify-SQL/assets/55964635/c57447b0-133b-422d-90ea-fe3454061cbd",
    tags: [],
   },
   
  // {
  //   title: "Mega Conversor OC",
  //   description:
  //     "👾 Automatización de muchas conversiones y operaciones en la materia “Organización de computadoras”. Usando JavaScript, Html y Css",
  //   link: "https://fabian-martinez-rincon.github.io/Mega-Conversor-OC/",
  //   github: "https://github.com/Fabian-Martinez-Rincon/Mega-Conversor-OC",
  //   image: "/projects/conversor.webp",
  //   tags: [],
  // },
  // {
  //   title: "Ei-Materias",
  //   description:
  //     "✏️ Readme con apuntes, prácticas y códigos relacionados a la UNLP informática.",
  //   link: "https://fabian-martinez-rincon.github.io/EI-Materias/",
  //   github: "https://github.com/fabian-martinez-rincon/EI-Materias",
  //   image: "/projects/eimaterias.webp",
  //   tags: [],
  // }
]
---

<div class="flex flex-col gap-y-16 pt-10">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 rounded-xl lg:border ">
      <img alt="" class="object-cover object-top w-full h-56  md:scale-110 border-4 border-black" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl  text-blue-400 text-center mx-auto">
      <span>
        {title}
      </span>
      
    </h3>
    <div class="flex flex-wrap mt-2">
      <Postfit description={description} color=""/>
      
      <footer class="flex items-end justify-start center  mt-2 gap-x-4 mx-auto">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6 flex " />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-6 flex" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



