---
export interface Props {
  name: string;
  title?: string;
  description: string[];
  subTitle?: string;
  link?: string;
}

const { description, name, title, subTitle, link} = Astro.props;

const keywords = /Python|BeautifulSoup|Scrum|Excel|AI|ACL|Script|Vim|Difflib|OS|Xlsxwriter|HTML|CSS|React|Tailwind|Vue.js|expresiones|regulares|Java|Pandas|Selenium|Pyautogui|PyGetWindow|PyAutoGUI|Tkinter|Bash|OS|Tkinter|OpenPyXL|Scripting|Flask|C\+\+|Visual\ Basic|Arduino|PostgreSQL|GIT|SQL|Linux|SQLAlchemy|PostgreSQL|Flask-Bcrypt|Flask-Session|Flask-WTF|Flask-Mail|Flask-JWT-Extended|Authlib|Gunicorn|Flask-CORS|Selenium|aiohttp|asyncio|BeautifulSoup|JSON|logging|requests|trio|websocket-client|Playwright|Beautifulsoup|Apis/
---

<div class="flex flex-row dark:text-black">
  <div class="mr-2 ">
    <div>
      {title && <span class="font-bold text-xl">{title}</span>}
      {subTitle && <span class="ml-2  text-gray-600">({subTitle})</span>}
    
    <span class=" ml-2 text-lg text-gray-600">{name}</span>
  {link &&
    <a
      class="text-blue-500 hover:underline font-bold"
      href={link}
      target="_blank"
      rel="noopener noreferrer"
    >
      Link
    </a>
  }
  </div>

    {description.length === 1 ? (
      <p class="text-lg">{description[0].split(" ").map(word => 
            keywords.test(word) ? <span class="bold">{word} </span> : word + " "
          )
      }</p>
    ) : (
      <ul class="list-disc mt-1 text-lg">
        {description.map(item => (
          <li class="pl-0 ml-0">{item.split(" ").map(word => 
            keywords.test(word) ? <span class="bold">{word} </span> : word + " "
          )}
        </li>
        ))}
      </ul>
    )}
  </div>
</div>

