---

import BlogPost from "../components/Sections/BlogPost.astro";

const {content} = Astro.props;
const {title, description, date, hero, youtube} = content;
---
<html lang={ content.lang || 'en' }>

  <body>
    <main class="py-12 lg:py-20">
      <BlogPost title={title} hero={hero} date={date} youtube={youtube} >
        <slot />
      </BlogPost>
    </main>
  </body>
</html>
